* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.gamesite__first-screen {
  background-image: url(../img/bg_1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding-top: 220px;
  padding-left: 120px;
}
.gamesite__first-screen .first-screen__title {
  color: #FFF;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  max-width: 789px;
}
.gamesite__first-screen .first-screen__text {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
  padding-top: 32px;
  padding-bottom: 44px;
  max-width: 481px;
}
.gamesite__first-screen .first-screen__text .text_fat {
  font-weight: 700;
}
.gamesite__first-screen .first-screen__button {
  border-radius: 30px;
  background: #9C0332;
  border: 0px solid;
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 234px;
  height: 49px;
  -webkit-transition: all 1.2s;
  transition: all 1.2s;
}
.gamesite__first-screen .first-screen__button:hover {
  background: #EB443F;
}
.gamesite__gamechoice-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 32px;
  padding: 128px 120px 128px 120px;
  background: #000915;
}
.gamesite__gamechoice-screen .cart-game {
  position: relative;
  max-width: 379px;
  max-height: 300px;
  border-radius: 16px;
}
.gamesite__gamechoice-screen .cart-game:hover {
  border: 3px solid #44D2FF;
}
.gamesite__gamechoice-screen .cart-game .link__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 379px;
  height: 300px;
  border-radius: 16px;
}
.gamesite__gamechoice-screen .cart-game .cart-game__link {
  position: relative;
  display: inline-block;
}
.gamesite__gamechoice-screen .cart-game .cart-game__link::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(39, 1, 15, 0)), to(#001944));
  background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%);
  z-index: 2;
}
.gamesite__gamechoice-screen .cart-game .cart-game__link .link__img {
  display: block;
  width: 100%;
  height: auto;
  z-index: 1;
  position: relative;
}
.gamesite__gamechoice-screen .cart-game__name {
  position: absolute;
  bottom: 32px;
  left: 32px;
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  z-index: 3;
}

@media (max-width: 375px) {
  .gamesite__first-screen {
    max-width: 343px;
    padding: 239px 16px 239px 16px;
    text-align: center;
    height: auto;
  }
  .gamesite__first-screen .first-screen__title {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    max-height: 77px;
  }
  .gamesite__first-screen .first-screen__text {
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
    max-height: 66px;
    padding-top: 33px;
    padding-bottom: 33px;
  }
  .gamesite__gamechoice-screen {
    padding: 128px 16px 128px 16px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 32px;
  }
  .gamesite__gamechoice-screen .cart-game {
    max-width: 343px;
  }
  .gamesite__gamechoice-screen .cart-game .link__img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 343px;
  }
}
@media (max-width: 355px) {
  .gamesite__first-screen .first-screen__title {
    font-size: 30px;
  }
}
@media (max-width: 375px) {
  .gamesite__first-screen {
    max-width: 343px;
    padding: 239px 16px 239px 16px;
    text-align: center;
    height: auto;
  }
  .gamesite__first-screen .first-screen__title {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    max-height: 77px;
  }
  .gamesite__first-screen .first-screen__text {
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
    max-height: 66px;
    padding-top: 33px;
    padding-bottom: 33px;
  }
  .gamesite__gamechoice-screen {
    padding: 128px 16px 128px 16px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 32px;
  }
  .gamesite__gamechoice-screen .cart-game {
    max-width: 343px;
  }
  .gamesite__gamechoice-screen .cart-game .link__img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 343px;
  }
}
@media (max-width: 355px) {
  .gamesite__first-screen .first-screen__title {
    font-size: 30px;
  }
}/*# sourceMappingURL=style.css.map */