* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.game-site__button {
  border-radius: 30px;
  background: #9C0332;
  border: 0px solid;
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 234px;
  height: 49px;
  -webkit-transition: all 1.2s;
  transition: all 1.2s;
}
.game-site__button:hover {
  background: #EB443F;
}
.game-site__first-screen {
  background-image: url(../img/bg_first-screen.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding-top: 220px;
}
.game-site__first-screen .game-site__title {
  color: #FFF;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  max-width: 789px;
}
.game-site__first-screen .game-site__text {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
  padding-top: 32px;
  padding-bottom: 44px;
  max-width: 481px;
}
.game-site__first-screen .game-site__text .game-site__text--bold {
  font-weight: 700;
}
.game-site__game-choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 32px;
  padding: 128px 120px 128px 120px;
  background: #000915;
}
.game-site__game-choice .game-cart {
  position: relative;
  max-width: 379px;
  max-height: 300px;
  border-radius: 16px;
}
.game-site__game-choice .game-cart .game-cart__image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 379px;
  height: 300px;
  border-radius: 16px;
}
.game-site__game-choice .game-cart .game-cart__link {
  position: relative;
  display: inline-block;
}
.game-site__game-choice .game-cart .game-cart__link:hover::after {
  border: 3px solid #44D2FF;
}
.game-site__game-choice .game-cart .game-cart__link::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(39, 1, 15, 0)), to(#001944));
  background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%);
  z-index: 2;
  border-radius: 16px;
}
.game-site__game-choice .game-cart .game-cart__link .game-cart__image {
  display: block;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.game-site__game-choice .game-cart .game-cart__name {
  position: absolute;
  bottom: 32px;
  left: 32px;
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  z-index: 3;
}
.game-site__season-game {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 135px;
  padding: 233px 120px 233px 120px;
  background: #000915;
}
.game-site__season-game .season-game__description {
  display: grid;
  gap: 32px;
}
.game-site__season-game .season-game__description .season-game__title {
  color: #FFF;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.game-site__season-game .season-game__description .season-game__text {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
}
.game-site__season-game .season-game__img {
  max-width: 485px;
  max-height: 333px;
}
.game-site__remember-words {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 135px;
  padding: 239px 120px 239px 120px;
  background: #000915;
}
.game-site__remember-words .remember-words__img {
  width: 481px;
  height: 332px;
}
.game-site__remember-words .remember-words__description {
  display: grid;
  gap: 32px;
}
.game-site__remember-words .remember-words__description .remember-words__title {
  color: #FFF;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.game-site__remember-words .remember-words__description .remember-words__text {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
}
.game-site__riddle-game {
  padding: 276px 120px 288px 120px;
  background-image: url(../img/bg_riddle-game.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  max-height: 880px;
  z-index: 1;
  position: relative;
  display: inline-block;
}
.game-site__riddle-game::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#000915), to(rgba(0, 0, 0, 0))), -webkit-gradient(linear, left top, left bottom, color-stop(-7.35%, rgba(0, 0, 0, 0)), to(#000915));
  background: linear-gradient(180deg, #000915 0%, rgba(0, 0, 0, 0) 100%), linear-gradient(180deg, rgba(0, 0, 0, 0) -7.35%, #000915 100%);
  z-index: -1;
}
.game-site__riddle-game .riddle-game__description .riddle-game__title {
  color: #FFF;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  z-index: 3;
}
.game-site__riddle-game .riddle-game__description .riddle-game__text {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
  padding-top: 32px;
  padding-bottom: 32px;
  z-index: 3;
}
.game-site__footer {
  text-align: center;
  padding-top: 32.5px;
  padding-bottom: 32.5px;
  background: #000915;
}
.game-site__footer .footer__title {
  color: #FFF;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (max-width: 540px) and (min-width: 376px) {
  .game-site__first-screen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
    gap: 32px;
    padding: 110px 90px 0px 90px;
  }
  .game-site__first-screen .game-site__title {
    font-size: 38px;
    font-weight: 500;
  }
  .game-site__first-screen .game-site__text {
    font-size: 16px;
    font-weight: 200;
    line-height: 28px;
  }
  .game-site__game-choice {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 35px 80px 35px 80px;
  }
  .game-site__game-choice .game-cart {
    max-width: none;
    max-height: none;
  }
  .game-site__season-game {
    padding: 51px 90px 85px 90px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .game-site__season-game .season-game__description .season-game__title {
    font-size: 28px;
    font-weight: 600;
  }
  .game-site__season-game .season-game__description .season-game__text {
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
  }
  .game-site__season-game .season-game__description .game-site__button {
    margin-left: auto;
    margin-right: auto;
  }
  .game-site__season-game .season-game__img {
    max-width: 362px;
    max-height: 241px;
  }
  .game-site__remember-words {
    padding: 51px 90px 90px 90px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .game-site__remember-words .remember-words__description .remember-words__title {
    font-size: 28px;
    font-weight: 600;
  }
  .game-site__remember-words .remember-words__description .remember-words__text {
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
  }
  .game-site__remember-words .remember-words__description .game-site__button {
    margin-left: auto;
    margin-right: auto;
  }
  .game-site__remember-words .remember-words__img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    max-width: 362px;
    max-height: 241px;
  }
  .game-site__riddle-game {
    padding: 90px 40px 140px 40px;
  }
  .game-site__riddle-game .riddle-game__description .riddle-game__title {
    font-size: 28px;
    font-weight: 600;
  }
  .game-site__riddle-game .riddle-game__description .riddle-game__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
  }
  .game-site__riddle-game .riddle-game__description .game-site__button {
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 375px) {
  .game-site__first-screen {
    max-width: 343px;
    padding: 239px 16px 239px 16px;
    text-align: center;
    height: auto;
  }
  .game-site__first-screen .game-site__title {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    max-height: 77px;
  }
  .game-site__first-screen .game-site__text {
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
    max-height: 66px;
    padding-top: 33px;
    padding-bottom: 33px;
  }
  .game-site__game-choice {
    padding: 128px 16px 128px 16px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 32px;
  }
  .game-site__game-choice .game-cart {
    max-width: 343px;
  }
  .game-site__game-choice .game-cart__image {
    -o-object-fit: cover;
       object-fit: cover;
    width: 343px;
  }
  .game-site__season-game {
    padding: 51px 16px 85px 15px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 64px;
    text-align: center;
  }
  .game-site__season-game .season-game__description {
    max-width: 343px;
  }
  .game-site__season-game .season-game__description .season-game__title {
    font-size: 32px;
    font-weight: 700;
  }
  .game-site__season-game .season-game__description .season-game__text {
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
  }
  .game-site__season-game .season-game__description .game-site__button {
    margin-left: auto;
    margin-right: auto;
  }
  .game-site__season-game .season-game__img {
    max-width: 344px;
    max-height: 286px;
  }
  .game-site__remember-words {
    padding: 51px 17px 90px 14px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 64px;
    text-align: center;
  }
  .game-site__remember-words .remember-words__description {
    max-width: 343px;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .game-site__remember-words .remember-words__description .remember-words__title {
    font-size: 32px;
    font-weight: 700;
  }
  .game-site__remember-words .remember-words__description .remember-words__text {
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
  }
  .game-site__remember-words .remember-words__description .game-site__button {
    margin-left: auto;
    margin-right: auto;
  }
  .game-site__remember-words .remember-words__img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    max-width: 344px;
    max-height: 231px;
  }
  .game-site__riddle-game {
    padding: 51px 17px 487px 14px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 64px;
    text-align: center;
  }
  .game-site__riddle-game .riddle-game__description {
    max-width: 343px;
  }
  .game-site__riddle-game .riddle-game__description .riddle-game__title {
    font-size: 32px;
    font-weight: 700;
  }
  .game-site__riddle-game .riddle-game__description .riddle-game__text {
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
  }
  .game-site__riddle-game .riddle-game__description .game-site__button {
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 355px) {
  * {
    margin: revert;
    padding: revert;
  }
  .game-site__first-screen {
    max-width: 300px;
    padding: 110px 14px 110px 14px;
  }
  .game-site__first-screen .game-site__title {
    font-size: 28px;
    font-weight: 600;
    max-height: 70px;
  }
  .game-site__first-screen .game-site__text {
    font-size: 12px;
    font-weight: 250;
    line-height: 20px;
    max-height: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .game-site__game-choice {
    padding: 98px 14px 98px 14px;
    gap: 18px;
  }
  .game-site__game-choice .game-cart {
    max-width: 280px;
  }
  .game-site__game-choice .game-cart__image {
    width: 210px;
  }
  .game-site__season-game {
    padding: 46px 14px 65px 13px;
    gap: 28px;
  }
  .game-site__season-game .season-game__description {
    max-width: 320px;
  }
  .game-site__season-game .season-game__description .season-game__title {
    font-size: 28px;
    font-weight: 500;
  }
  .game-site__season-game .season-game__description .season-game__text {
    font-size: 12px;
    font-weight: 250;
    line-height: 20px;
  }
  .game-site__season-game .season-game__img {
    max-width: 280px;
    max-height: 200px;
  }
  .game-site__remember-words {
    padding: 46px 12px 60px 12px;
    gap: 32px;
  }
  .game-site__remember-words .remember-words__img {
    max-width: 310px;
    max-height: 220px;
  }
  .game-site__remember-words .remember-words__description {
    max-width: 320px;
  }
  .game-site__remember-words .remember-words__description .remember-words__title {
    font-size: 28px;
    font-weight: 500;
  }
  .game-site__remember-words .remember-words__description .remember-words__text {
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
  }
  .game-site__riddle-game {
    padding: 44px 12px 80px 12px;
    gap: 28px;
    max-width: 320px;
  }
  .game-site__riddle-game .riddle-game__description .riddle-game__title {
    font-size: 28px;
    font-weight: 500;
  }
  .game-site__riddle-game .riddle-game__description .riddle-game__text {
    font-size: 12px;
    line-height: 20px;
  }
}
@media (max-width: 1440px) and (min-width: 541px) {
  .game-site__first-screen {
    padding: 110px 90px 0px 90px;
    max-height: 485px;
  }
  .game-site__first-screen .game-site__title {
    font-size: 42px;
    font-weight: 500;
  }
  .game-site__first-screen .game-site__text {
    font-size: 16px;
    font-weight: 200;
    line-height: 28px;
  }
  .game-site__game-choice {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 35px 80px 35px 80px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .game-site__season-game {
    padding: 51px 90px 85px 90px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .game-site__season-game .season-game__description {
    max-width: 591px;
  }
  .game-site__season-game .season-game__description .season-game__title {
    font-size: 36px;
  }
  .game-site__season-game .season-game__description .season-game__text {
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
  }
  .game-site__season-game .season-game__description .game-site__button {
    margin-left: auto;
    margin-right: auto;
  }
  .game-site__season-game .season-game__img {
    max-width: 362px;
    max-height: 241px;
  }
  .game-site__remember-words {
    padding: 51px 90px 90px 90px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .game-site__remember-words .remember-words__description {
    max-width: 591px;
  }
  .game-site__remember-words .remember-words__description .remember-words__title {
    font-size: 36px;
    font-weight: 600;
  }
  .game-site__remember-words .remember-words__description .remember-words__text {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
  }
  .game-site__remember-words .remember-words__description .game-site__button {
    margin-left: auto;
    margin-right: auto;
  }
  .game-site__remember-words .remember-words__img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    max-width: 362px;
    max-height: 241px;
  }
  .game-site__riddle-game {
    padding: 90px 120px 140px 120px;
    text-align: start;
  }
  .game-site__riddle-game .riddle-game__description .riddle-game__title {
    font-size: 36px;
    font-weight: 600;
  }
  .game-site__riddle-game .riddle-game__description .riddle-game__text {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
  }
  .game-site__riddle-game .riddle-game__description .game-site__button {
    margin-left: auto;
    margin-right: auto;
  }
}/*# sourceMappingURL=style.css.map */