@media (max-width: 375px) {

     .game-site__first-screen {
          max-width: 343px;
          padding: 239px 16px 239px 16px;
          text-align: center;
          height: auto;

          .game-site__title {
               font-size: 32px;
               font-style: normal;
               font-weight: 700;
               line-height: normal;
               max-height: 77px;

          }

          .game-site__text {
               font-size: 14px;
               font-style: normal;
               font-weight: 300;
               line-height: 22px;
               max-height: 66px;
               padding-top: 33px;
               padding-bottom: 33px;
          }

     }

     .game-site__game-choice {
          padding: 128px 16px 128px 16px;
          flex-wrap: wrap;
          gap: 32px;

          .game-cart {
               max-width: 343px;

               &__image {
                    object-fit: cover;
                    width: 343px;
               }
          }
     }

     .game-site__season-game {
          padding: 51px 16px 85px 15px;
          flex-wrap: wrap;
          gap: 64px;
          text-align: center;

          .season-game__description {
               max-width: 343px;

               .season-game__title {
                    font-size: 32px;
                    font-weight: 700;
               }

               .season-game__text {
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 22px
               }

               .game-site__button {
                    margin-left: auto;
                    margin-right: auto;
               }
          }

          .season-game__img {
               max-width: 344px;
               max-height: 286px;
          }
     }

     .game-site__remember-words {
          padding: 51px 17px 90px 14px;
          flex-wrap: wrap;
          gap: 64px;
          text-align: center;

          .remember-words__description {
               max-width: 343px;
               order: 0;

               .remember-words__title {
                    font-size: 32px;
                    font-weight: 700;
               }

               .remember-words__text {
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 22px
               }

               .game-site__button {
                    margin-left: auto;
                    margin-right: auto;
               }
          }

          .remember-words__img {
               order: 1;
               max-width: 344px;
               max-height: 231px;
          }
     }

     .game-site__riddle-game {
          padding: 51px 17px 487px 14px;
          flex-wrap: wrap;
          gap: 64px;
          text-align: center;

          .riddle-game__description {
               max-width: 343px;

               .riddle-game__title {
                    font-size: 32px;
                    font-weight: 700;
               }

               .riddle-game__text {
                    text-align: center;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 22px
               }

               .game-site__button {
                    margin-left: auto;
                    margin-right: auto;
               }
          }
     }
}

@media (max-width: 355px) {

     .game-site__first-screen {
          .game-site__title {
               font-size: 30px;
          }
     }
}